p {
  font-size: 1.25em;
  font-family: 'Helvetica Neue';
  color: #131c3b;
  font-size: em;
}

#hello {
  font-size: 3em;
  margin-left: 20%;
}

#text1 {
  padding-left: 20%;
  /*padding-right: 50%;*/
  font-size: 1.25em;
}

#view {
  font-family: 'Abhaya Libre';
}

.wrapper {
  text-align: center;
}

#Heading {
  text-align: center;
}

#content {
  /*text-align: center;*/
  width: 80%;
  padding: 20px;
}

.text {
  text-align: center;
}

.maincontent {
  text-align: center;
}

#heading {
}

#Heading {
  text-align: center;
}

#VGP {
  text-align: center;
}

#greyhound {
  text-align: center;
  padding-top: 20%;
}

